# Configuration file

" main" {
    #  [default: [under_water], [under_flowing_water], [under_still_water], [touching_water], [under_lava], [touching_lava], [sun], [rain], [snow], [thunder]]
    S:register <
        under_water
        under_flowing_water
        under_still_water
        touching_water
        under_lava
        touching_lava
        sun
        rain
        snow
        thunder
     >
}


rain {
    #  [default: [0,1,0]]
    S:checkPositions <
        0,1,0
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:air]
    S:conditonBlock=minecraft:air

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: rain]
    S:requireWeather=rain
}


snow {
    #  [default: [0,1,0], [0,1,0,minecraft:snow_layer,any]]
    S:checkPositions <
        0,1,0
        0,1,0,minecraft:snow_layer,any
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:air]
    S:conditonBlock=minecraft:air

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: snow]
    S:requireWeather=snow
}


sun {
    #  [default: [0,1,0]]
    S:checkPositions <
        0,1,0
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:air]
    S:conditonBlock=minecraft:air

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: >12]
    S:requireLight=>12

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: clear]
    S:requireWeather=clear
}


thunder {
    #  [default: [0,1,0]]
    S:checkPositions <
        0,1,0
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:air]
    S:conditonBlock=minecraft:air

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: rain]
    S:requireWeather=rain
}


touching_lava {
    #  [default: [-1,0,0], [1,0,0], [0,-1,0], [0,1,0], [0,0,-1], [0,0,1]]
    S:checkPositions <
        -1,0,0
        1,0,0
        0,-1,0
        0,1,0
        0,0,-1
        0,0,1
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:lava]
    S:conditonBlock=minecraft:lava

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: any]
    S:requireWeather=any
}


touching_water {
    #  [default: [-1,0,0], [1,0,0], [0,-1,0], [0,1,0], [0,0,-1], [0,0,1]]
    S:checkPositions <
        -1,0,0
        1,0,0
        0,-1,0
        0,1,0
        0,0,-1
        0,0,1
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:water]
    S:conditonBlock=minecraft:water

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: any]
    S:requireWeather=any
}


under_flowing_water {
    #  [default: [0,1,0]]
    S:checkPositions <
        0,1,0
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:water]
    S:conditonBlock=minecraft:water

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: !0]
    S:conditonMeta=!0

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: any]
    S:requireWeather=any
}


under_lava {
    #  [default: [0,1,0]]
    S:checkPositions <
        0,1,0
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:lava]
    S:conditonBlock=minecraft:lava

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: any]
    S:requireWeather=any
}


under_still_water {
    #  [default: [0,1,0]]
    S:checkPositions <
        0,1,0
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:water]
    S:conditonBlock=minecraft:water

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: 0]
    S:conditonMeta=0

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: any]
    S:requireWeather=any
}


under_water {
    #  [default: [0,1,0]]
    S:checkPositions <
        0,1,0
     >

    # The number of positions which must have the condition block. [range: 0 ~ 99, default: 1]
    I:checksRequired=1

    #  [default: minecraft:water]
    S:conditonBlock=minecraft:water

    # A list of acceptable metadata values. Prepend with ! for blacklist, or set to any to accept any metadata. [default: any]
    S:conditonMeta=any

    # Can be prepended with a greater than or less than sign. For example, <10 or >9 [default: any]
    S:requireLight=any

    # Can by any, clear, rain, snow, or thunder. Weathers other than any require sky access. [default: any]
    S:requireWeather=any
}


