# Recipe format: potionIn&Itemstack,meta=potionOut
# If the item has no meta you can omit it: minecraft:awkward&minecraft:dirt=minecraft:water
# Example: minecraft:awkward&minecraft:dye,3=minecraft:strong_healing would take an awkward potion,
# cocoa (dye with metadata 3), and make a potion of healing II out of it.
# To log all existing potions set the "log_potion_types" config to true.
# To remove an existing potion recipe disable it in the config file.
# Lines starting with # and empty lines are ignored.
# There is no difference between "minecraft:awkward&minecraft:dye,3=minecraft:strong_healing" and "minecraft:awkward & minecraft:dye,3 = minecraft:strong_healing", spaces near delimiters are ignored

minecraft:awkward&minecraft:clay_ball=extraalchemy:sinking_normal
minecraft:awkward&minecraft:beetroot=extraalchemy:pyper_normal
minecraft:awkward&nex:wither_bone=extraalchemy:crumbling_normal
minecraft:awkward&minecraftfuture:sweetberry=extraalchemy:photosynthesis_normal
minecraft:awkward&nex:salamander_hide=extraalchemy:reincarnation_normal
minecraft:awkward&nex:salamander_hide,1=extraalchemy:reincarnation_normal
minecraft:awkward&familiarfauna:pixie_dust=extraalchemy:learning_normal
minecraft:awkward&minecraft:apple=extraalchemy:gravity_normal
minecraft:awkward&coralreef:coral,0=extraalchemy:sails_normal
minecraft:awkward&coralreef:coral,1=extraalchemy:sails_normal
minecraft:awkward&coralreef:coral,2=extraalchemy:sails_normal
minecraft:awkward&coralreef:coral,3=extraalchemy:sails_normal
minecraft:awkward&coralreef:coral,4=extraalchemy:sails_normal
minecraft:awkward&coralreef:coral,5=extraalchemy:sails_normal